<!-- Main wrapper  -->
    <div id="main-wrapper">

        <!-- End header header -->
       
        <!-- Page wrapper  -->
        <div class="page-wrapper" style="margin-left:0;">
			            
            <!-- Container fluid  -->
            <div class="container-fluid">                <!-- Start Page Content -->
<style type="text/css">
.first-row, .second-row, .third-row, .fourth-row .col-md-8{border-radius: 2px; border: 1px solid #dee0e1;background: #ffffff none repeat;box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15); padding-top: 15px; margin-bottom: 30px;}
.fourth-row .col-md-8{margin-bottom: 0px}
/*.first-row .col-1, .second-row .col-1, .third-row .col-1, .fourth-row .col-1{ padding-top: 15px }*/
.first-row .dropdown .dropdown-toggle, .second-row .dropdown .dropdown-toggle, .third-row .dropdown .dropdown-toggle, .fourth-row .dropdown .dropdown-toggle{background: #fff;font-size: 12px;line-height: 1;}
.dropdown-toggle::after {font-size: 8px;color: #99abb4;top: 3px}
.row+.row { margin-top: 0px; }
.rent, .food, .shopping, .entertainment, .travel, .other{padding-top: 15px;}
.first-row h3{margin-bottom: 0px;}
.rent h3, .rent h6, .food h3, .food h6, .shopping h3, .shopping h6, .entertainment h3, .entertainment h6, .travel h3, .travel h6, .other h3, .other h6{color:#fff;}
.first-row h6{font-weight: 100;}
#biggest-spending svg{display: block;margin:0 auto;}
#bar-chart{height: 100% !important}
.fourth-row .col-left{background: #4f87fb; color: #fff; text-align: center;padding-top: 20px; padding-bottom: 40px}
.fourth-row .col-left h3{margin-bottom: 0px; color: #fff;}
.fourth-row .col-left h6{color: #fff;font-weight: 100;margin-bottom: 40px;}
.fourth-row .c100{background-color: #729ffc; float: none;display: inline-block;margin: 0 auto}
.fourth-row .c100:after{background-color: #4f87fb;}
.fourth-row .c100 > span, .fourth-row .c100:hover > span{color: #fff} 
.fourth-row .c100 .bar, .fourth-row .c100 .fill{border-color : #fff !important}
.fourth-row p{line-height: 3.5}
.current-net-worth{
	background: #67a7fe !important;
	height: 340px;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
}
.current-net-worth img{
	margin-top: 30px;
	width: 150px;
}
.current-net-worth h2{
	color: #fff;
	font-size: 42px;
}
.net-worth-container{
	padding: 0 0 0 30px !important;
	background: none !important;
	box-shadow: none !important;
	border: none !important;
}
.net-worth-estimate{
	background: #fff;
	padding: 20px; 
	height: 340px;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);
}
.chart-container{
	height: 260px;
}
</style> 

    <div class="col first-row">
        <div class="row justify-content-between ">         
            <div class="col-2">
                <h3>Assets&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="text to come soon" class="finicity-tooltip" ><i class="fa fa-question-circle"></i></a></h3>
            </div>
            <div class="col-2 dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">3 months
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">1 months</a></li>
                <li><a href="#">3 months</a></li>
                <li><a href="#">6 months</a></li>
              </ul>
            </div> 
        </div> 

        <div class="row">
            <div class="col-1"><h1 style="margin-top:15px;margin-bottom: 10px">$3,350</h1></div>            
        </div>  

        <div class="row">
            <div class="col-1"><h4 style="color: #cfcfcf;font-size:14px;font-weight: 100;margin-bottom: 10px">Total</h4></div>            
        </div> 

        <div class="row ">
            <div class="col rent" style="background: #47cc4a;">
                <img src="assets/icons/imgs/home.png" border="0" />
                <h3>$1,000</h3>
                <h6>Rent</h6>
            </div>            
            <div class="col food" style="background: #49be6d;">
                <img src="assets/icons/imgs/restaurant.png" border="0" />
                <h3>$1,000</h3>
                <h6>Food</h6>
            </div>            
            <div class="col shopping" style="background: #4ab091;">
                <img src="assets/icons/imgs/bag.png" border="0" />
                <h3>$1,000</h3>
                <h6>Shopping</h6>
            </div>            
            <div class="col entertainment" style="background: #4ca3b4;">
                <img src="assets/icons/imgs/video-camera.png" border="0" />
                <h3>$1,000</h3>
                <h6>Entertainment</h6>
            </div>            
            <div class="col travel" style="background: #4d95d8;">
                <img src="assets/icons/imgs/plane.png" border="0" />
                <h3>$1,000</h3>
                <h6>Travel</h6>
            </div>         
        </div>   
    </div>    

	<div class="col first-row">
        <div class="row justify-content-between ">         
            <div class="col-2">
                <h3>Liabilities&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="text to come soon" class="finicity-tooltip" ><i class="fa fa-question-circle"></i></a></h3>
            </div>
            <div class="col-2 dropdown">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">3 months
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">1 months</a></li>
                <li><a href="#">3 months</a></li>
                <li><a href="#">6 months</a></li>
              </ul>
            </div> 
        </div> 

        <div class="row">
            <div class="col-1"><h1 style="margin-top:15px;margin-bottom: 10px">$3,350</h1></div>            
        </div>  

        <div class="row">
            <div class="col-1"><h4 style="color: #cfcfcf;font-size:14px;font-weight: 100;margin-bottom: 10px">Total</h4></div>            
        </div> 

        <div class="row ">
            <div class="col rent" style="background: #ffbb33;">
                <img src="assets/icons/imgs/home.png" border="0" />
                <h3>$1,000</h3>
                <h6>Rent</h6>
            </div>            
            <div class="col food" style="background: #fb9c33;">
                <img src="assets/icons/imgs/restaurant.png" border="0" />
                <h3>$1,000</h3>
                <h6>Food</h6>
            </div>            
            <div class="col shopping" style="background: #f77d34;">
                <img src="assets/icons/imgs/bag.png" border="0" />
                <h3>$1,000</h3>
                <h6>Shopping</h6>
            </div>            
            <div class="col entertainment" style="background: #f35f34;">
                <img src="assets/icons/imgs/video-camera.png" border="0" />
                <h3>$1,000</h3>
                <h6>Entertainment</h6>
            </div>      
        </div>   
    </div>
	
	<div class="col fourth-row">
        <div class="row">
            <div class="col-md-4 col-left current-net-worth">
                <h3>Current Net Worth&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="text to come soon" class="finicity-tooltip" ><i class="fa fa-question-circle"></i></a></h3>
                <img src="assets/icons/imgs/gold-icon.png">
				<h2>$22,000</h2>
            </div>
			
            <div class="col-md-8 net-worth-container">
				<div class="col net-worth-estimate">
                 <h3>Net Worth Estimate&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="text to come soon" class="finicity-tooltip" ><i class="fa fa-question-circle"></i></a></h3>
				 <div class="chart-container">
					<canvas id="chart_net_worth"></canvas>
				</div>
				</div>
            </div>
        </div>        
    </div>
   
    

    


  <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->