/* Buttons */

.btn {
  font-size: $btn-font-size;
  line-height: 1;
  font-weight: 400;
  i {
    font-size: 1rem;
  }
  &.btn-rounded {
    @include border-radius(50px);
  }
  &.btn-sm {
    font-size: $btn-font-size-sm;
  }
  &.btn-lg {
    font-size: $btn-font-size-lg;
  }
  &.btn-xs {
    padding: $btn-padding-y-xs $btn-padding-x-xs;
    font-size: $btn-font-size-xs;
  }
  /* Buttons with only icons */
  &.btn-icon {
    width: 1.875rem;
    height: 1.875rem;
    padding: 0;
  }
  /* Buttons with icon and text */
  &.btn-icon-text {
    .btn-icon-prepend {
      margin-right: .5rem;
    }
    .btn-icon-append {
      margin-left: .5rem;
    }
  }
  &.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0;
  }
  &:not(:disabled) {
    &:not(.disabled) {
      &:active {
        &:focus {
          -webkit-box-shadow: none;
                  box-shadow: none;
        }
      }
      &:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
        
      }
    }
  }
}

.btn-group {
  .btn {
    + .btn {
      border-left: 0;
    }
  }
}

.btn-toolbar {
  .btn-group {
    +.btn-group {
      @extend .ml-2;
    }
  }
}
/*social buttons*/
@each $color, $value in $social-colors {
  .btn-#{$color} {
    @include social-button(social-color($color));
  }
  .btn-outline-#{$color} {
    @include social-outline-button(social-color($color));
  }
}
/* inverse buttons */
@each $color, $value in $theme-colors {
  .btn-inverse-#{$color} {
    @include button-inverse-variant($value);
  }
  .btn-#{$color} {
    &,
    &:hover {
      box-shadow: 0 2px 2px 0 rgba(theme-color($color), .14), 
                0 3px 1px -2px rgba(theme-color($color), .2), 
                0 1px 5px 0 rgba(theme-color($color), .12)
    }
  }
}

.view-more-wrapper {
  &:hover {
    text-decoration: none;
  }
  .icon {
    width: 30px;
    height: 30px;
    border: 1px solid $border-color;
    margin-left: 0.6875rem;
  }
}

.hover-dropdown-effect {
  .btn-outline-light {
    border: 1px solid color(gray);
    &:hover, &:active {
      background: transparent;
      border: 1px solid theme-color(info);
      color: theme-color(light);
    }
  }
}

.show {
  >.btn-outline-light {
    &.btn-hover-border-only {
      background: transparent;
      border: 1px solid theme-color(info);
      color: $text-muted; 
    }
  }
} 