<div class="row register-page">
  <div class="floating-form">
    <div class="card register-card mt-3 mb-3">
      <div class="card-body px-3 py-3">
		<div class="login-small-logo mt-2">
			<img src="assets/images/login-small-logo.png" width="110" />
		  </div>
          <form [formGroup]="resetForm" novalidate (ngSubmit)="reset()" class="px-1 py-4 mb-5 text-center">
                <p class="text-center mt-2 mb-4"><img src="assets/images/logo.png" class="" height="50" /></p>
                <h3 class="mb-4 text-center reset-heading">Reset Password</h3>
                <div id="response">
                </div>
                   <div class="form-group floating-label">
                      <input [attr.type]="eyeOpen"  placeholder="New Password" class="form-control floating-input input-password" id="pwd" formControlName="password"  [(ngModel)]="credentials.password" style="padding-right: 120px;"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required />
                      <span class="eye-drop"  [hidden]="eyeOpen=='text'" (click)="togglePwd()"><i class="far fa-eye-slash" ></i></span>
                      <span class="eye-drop"  [hidden]="eyeOpen=='password'" (click)="togglePwd()"><i class="far fa-eye"></i></span>
                      <span class="highlight"></span>
                      <label>New Password</label>
                    </div>
                    <div class="site-color text-left" *ngIf="f.password.errors">
                          <div *ngIf="f.password.errors.pattern">
                            <span style="font-size:10px">Password must contain at least:</span>
                            <ul style="font-size:10px">
                              <li>8 characters</li>
                              <li>1 uppercase and 1 lowercase letter</li>
                              <li>1 number</li>
                              <li>1 special character</li>
                            </ul>
                          </div>
                    </div>
                    <div class="form-group  floating-label">
                      <input [attr.type]="eyeCOpen"   placeholder="Confirm Password"  class="form-control  floating-input input-password" id="cpwd" formControlName="cpassword" style="padding-right: 120px;" [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }" required  />
                      <span class="eye-drop"  [hidden]="eyeCOpen=='text'" (click)="toggleCPwd()"><i class="far fa-eye-slash" ></i></span>
                      <span class="eye-drop"  [hidden]="eyeCOpen=='password'" (click)="toggleCPwd()"><i class="far fa-eye"></i></span>
                      <span class="highlight"></span>
                      <label>Confirm Password</label>
                    </div>
                  <button type="submit" class="btn btn-default submit-btn mb-3" [disabled]="resetForm.invalid" style="font-size: 14px;">RESET PASSWORD</button>
                  <p class="text-center"><a href="login" class="base-color link">Login</a></p>
          </form>
      </div>
    </div>
  </div>
</div>
